#invitationForm, #lab_invitationComments {
  background: #F2F2F2;
  padding: 1em;
}
#invitationForm h2, #lab_invitationComments h2 {
  display: flex;
  justify-content: space-between;
}
.lab_invite_field {
  display: flex;
  flex-direction: column;
  margin:1em;
}
#invitationForm .lab_invite_field input, #invitationForm .lab_invite_field select {
  width: 100%;
}
#invitationForm .lab_invite_row input[type=checkbox] {
  width: 1em;
  margin-right: 1em;
}
.lab_invite_row {
  display: flex;
  justify-content: center;
}
#invitationForm select {
  height: 2.5em;
}
.lab_invite_row .lab_invite_field {
  width: 50%;
}
#invitationForm .lab_invite_field p {
  font-size: 0.9em;
  font-style: italic;
}
/*Bulle de discussion*/

#lab_invitation_oldComments .lab_comment_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.lab_comment_author {
  margin-right: 35px;
  background: #64b0f8;
  border-radius: .4em;
  padding: 0.2em 1em;
}

.lab_comment {
  padding: 0.2em 1em;
	position: relative;
	background: #c6ffff;
  border-radius: .4em;
  max-width: 500px;
}

.lab_comment:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-right-color: #c6ffff;
	border-left: 0;
	border-top: 0;
	margin-top: -15px;
  margin-left: -30px;
}