#lab_profile_card {
    background-color:#F2F2F2;
    color:#555555;
    padding: 1.5em;
    font-family: Roboto, sans-serif;
}

#lab_pic_name {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#lab_avatar {
    margin: 1em 1em 1em 0;
    width:7em;
    height:7em;
    -webkit-border-radius:3.5em;
    -moz-border-radius:3.5em;
    border-radius:3.5em;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1); 
}
#lab_profile_social {
    margin: 0em 1em 1em 0;
    font-size: 1.5em;
    width: 4.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#lab_profile_social i {
    margin: 0.2em 0.2em 0 0;
}
#lab_profile_social a[href=""] {
    color:gray;
}
#lab_avatar_change {
    margin: 1em 1em 1em 0;
    font-size: 0.8em;
    text-align: center;
    display:none;
}

#lab_profile_info {
    flex-grow: 1;
}
#lab_profile_name {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lab_profile_info input {
    width: 80%;
}
#lab_profile_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
#lab_profile_links>p a {
    margin-left: 0.5em
}
#lab_profile_bio {
    border-radius: 1em;
    background: white;
    padding-left: 2em;
    font-size: 0.9em;
    line-height: 2em;
    margin-bottom: 1em;
    font-style: italic;
}

#lab_profile_icons i {
    margin-left: 0.5em;
    cursor: pointer;
    font-size: 20px;
}
#lab_profile_icons i:hover {
    color: black;
}

#lab_profile_links a {
    text-decoration: none; 
}

.lab_profile_mail {
    unicode-bidi: bidi-override;
    direction: rtl;
}

#lab_profile_color {
    display: block;
    position: absolute;
    transform: translateX(5em);
    padding: 1em;
    background-color: #F2F2F2;
    border: 1px solid blue;
    border-radius: 5px;
}