.lab_history_li {
    display:flex;
    background: #DDDDFF;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    width:90%;
    justify-content: space-between;
}
.lab_history_dates {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height: 4em;
    font-size: 0.9em;
    padding:0.2em 0;
    font-style: italic;
}
.lab_history_desc {
    flex-grow:1;
    margin-left: 1em;
    line-height: 4em;
}
.lab_history_topDesc {
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
}
.lab_history_actions {
    display:flex;
    flex-direction: column;
    font-size:1.2em;
    justify-content:space-around;
}
.lab_history_actions a {
    text-decoration: none;
}
#lab_historic_delete_dialog_options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#lab_historic_delete_dialog_options a {
    width: 6em;
    padding: 0.5em;
    text-align: center;
    border-radius: 4px;
    background: #77b255;
    color: white;
    text-decoration: none;
}
#lab_historic_delete_dialog_options a:first-of-type {
    background: #cf4944;
}
#lab_historic_actions {
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.user-role-badge {
    padding: 0.5em 1em;
    margin-right: 1em;
}
.lab_role_delete, .lab_group_delete, .lab_thematic_delete, .lab_thematic_order{
    cursor:pointer;
}
.lab_thematic_main {
  color: gold;
}

.form-table td, .form-table th {
    padding:10px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.3em;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.8em);
  -ms-transform: translateX(1.8em);
  transform: translateX(1.8em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 50%;
} 

#loadingAjaxGif
{
    display : none;
}
#loadingAjaxGif.show
{
    display : block;
    position : fixed;
    z-index: 2000;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadingAjaxGif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 102px;
    height : 102px;
    margin-left : -51px;
    margin-top : -51px;
}

#lab_budget_info_state option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#lab_budget_info_state option[value="c"] {
  background:#caffbf;
}

#lab_budget_info_state option[value="wo"] {
  background: #fdffb6;
}

se#lab_budget_info_statelect option[value="wd"] {
  background: #ffd6a5;
}

#lab_budget_info_state option[value="wp"] {
  background: #ffadad;
}

.lab-update-plugins {
  box-sizing: border-box;
  position: relative;
  top: 3px;
  /*margin: 2px 2px 2px 2px;*/
  padding: 4px;
  min-width: 22px;
  height: 22px;
  border-radius: 12px;
  background-color: darkorange;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  /*z-index: 26;*/
}
.lab-update-plugins:hover {
  background-color: red;
  cursor: pointer;
}

.lab-update-plugins:hover:after {
  content: "X";
  cursor: pointer;
  background-color: red;
}

.lab-update-plugins:hover .plugin-count {
  display: none;
}

.lab-page-title-action {
  margin-left: 4px;
  padding: 4px 8px;
  position: relative;
  top: 3px;
  text-decoration: none;
  border: 1px solid #0071a1;
  border-radius: 2px;
  text-shadow: none;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #0071a1;
  background: white;
  cursor: pointer;
}

.lab_keyring_icon {
  padding-right: 100px;
}